@charset "UTF-8";

*,
body,
input{
    font-family: Arial, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);   
}
/* Menu */
.menu {
    height: 48px;
    float: right;
    margin-top: 10px;
    padding: 0px 30px;

    display: flex;
    align-items: center;
    justify-content: center;


}
.menu__right {
    display: flex;
    align-items: center;

}
.menu__right a + a {
    padding: 0px 15px;
}
.menu__right img {
    opacity: .55;

    cursor: pointer;
}
.menu__right img:hover {
    opacity: 1;
}
.menu__right--images {
}
.menu__right--login {
    line-height: 28px;
    padding: 0px 12px;
    margin: 0px 0px 0px 15px;

    border-radius: 2px;

    color: #ffffff;
    font-weight: bolder;

    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    
}
.menu__right--login:hover {
    text-decoration: none;
    box-shadow: 0px .2px 2px #222;
}
.menu__right--gmail:hover,
.menu__right--images:hover {
    text-decoration: underline;
}

